<div class="row">
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h1 class="card-title">Persona natural</h1>
          <img src="../../assets/img/persona-azul.png"  class="img-fluid" alt="Responsive image" style="max-width: 100px ;" style="max-height: 100px;">
          <p class="card-text">Inicio de sesión para personas naturales.</p>
          <button type="button" class="btn btn-primary" (click)= "redirectLogin()">Inicia Sesión</button>
          <p><small>Si no tiene una cuenta,  <a href="/home">registrese aquí</a> </small></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h1 class="card-title">Comercio</h1>
          <img src="../../assets/img/comercio-azul.png"  class="img-fluid" alt="Responsive image" style="max-width: 100px ;" style="max-height: 100px;">
          <p class="card-text">Inicio de sesión para comercios.</p>
          <button type="button" class="btn btn-primary" (click)= "redirectSignUp()">Inicia Sesión</button>
          <p><small>Si no tiene una cuenta,  <a href="/home">registrese aquí</a> </small></p>
        </div>
      </div>
    </div>
  </div>